@charset "UTF-8";
body,
textarea,
select,
input {
    font-family: "Arial", "Hiragino Sans GB", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";
    font-size: 14px;
    line-height: 21px;
    color: #343d42;
    outline: none;
    border: 0;
}

.box {
    background: #fefefe;
}

ul,
li {
    margin: 0px;
    padding: 0px;
}


/****** header start ********/

.header-box {
    width: 1200px;
    margin: 0px auto;
    min-height: 90px;
    font-family: "微软雅黑";
}

.header-search-box {
    float: left;
}

.header-search-left {
    float: left;
    background: url(../images/xs-pw.png) left center no-repeat;
    padding-left: 28px;
    margin-left: 18px;
    color: #333;
    font-size: 16px;
    font-family: "微软雅黑";
    font-weight: bold;
    height: 35px;
    margin-top: 30px;
    line-height: 35px;
}

.search-content-box {
    margin-top: 30px;
    width: 340px;
    height: 35px;
    background: url(../../images/sech-bh.jpg) left center no-repeat;
    float: left;
    margin-left: 15px;
    border-radius: 40px;
    border: 1px solid #e30b69;
    position: relative;
}

.search-content-box .select-key {
    width: 300px;
    float: left;
    margin-left: 20px;
    background: #fff;
    height: 33px;
    line-height: 33px;
    margin-top: 1px;
}

.search-content-box .txt-search {
    background: #fff;
    height: 32px;
    line-height: 33px;
    margin-top: 1px;
    width: 220px;
    color: #333;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    border: none;
    background: none;
    outline: none;
    padding-right: 90px;
}

.search-btn {
    position: absolute;
    right: -1px;
    top: 0px;
    z-index: 2;
    width: 90px;
    height: 35px;
    color: #fff;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: pointer !important;
    border-radius: 40px;
    background: #e30b69;
}

.hot-search-box {
    clear: both;
}

.key-hot {
    line-height: 25px;
    width: 340px;
    max-height: 23px;
    overflow: hidden;
    margin: 0px auto 10px;
    color: #333;
}

.key-hot a {
    color: #888;
    font-size: 12px;
    font-family: "微软雅黑";
    margin-right: 10px;
    display: inline-block;
}

.header-nav {
    float: right;
    height: 50px;
    position: relative;
}

.header-nav dl dd {
    float: left;
    margin-left: 26px;
    height: 50px;
}

.header-nav dl dd.active .nav-link a {
    color: #dd0050;
    border-bottom: 3px solid #dd0050;
}

.header-nav dl dd.nav-link>a:hover {
    color: #dd0050;
    border-bottom: 3px solid #dd0050;
}

.header-nav dl dd.nav-link a {
    display: block;
    color: #555;
    font-size: 15px;
    height: 47px;
    border-bottom: 3px solid #fff;
    line-height: 47px;
}

.header-nav dl dd.nav-link:hover>.nav-sub {
    display: block;
}

.header-nav dl dd .nav-sub {
    position: absolute;
    top: 60px;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    min-height: 200px;
    z-index: 999;
}

.header-nav dl dd .sub-box {
    margin-top: 40px;
    color: #555;
    background: #ffffff;
    text-align: center;
    font-size: 14px;
    border-radius: 2px;
    min-height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .08);
    z-index: 100;
    transform-origin: 50% 0;
    transition: .3s ease-in-out;
    overflow: hidden;
    background-color: #fff;
    width: 100%;
}

.header-nav dl dd .sub-box a {
    display: inline-block;
    min-width: 50px;
    padding: 8px;
}

.header-nav dl dd .sub-box a:hover {
    background: #e30b69;
    color: #ffffff;
}


/* nav-box */


/* nav-box */


/******* header end *******/


/* banner start */

.banner-slide-container {
    z-index: 1;
    max-height: 360px;
    background-color: #eee;
    position: relative;
    top: 0;
    margin-bottom: 30px;
    background-color: rgb(40, 36, 51);
}

.banner-slide-container .banner-img {
    max-height: 360px;
}


/* banner end */


/* common start*/

.w1200 {
    width: 1200px;
    margin: 0 auto 20px auto;
    overflow: hidden;
}

.button-nav {
    width: 80%;
    color: #ffffff;
    margin: 0 auto 20px auto;
    color: #ffffff;
}

.button-nav .nav-left {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: linear-gradient(to right, #fe0b45, #e60676);
    width: 48%;
    margin: 20px 0px;
    color: #ffffff;
    font-size: 26px;
    border-radius: 40px;
    position: relative;
}

.button-nav .nav-left .nav-icon-start {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    line-height: 50px;
    background: #ffffff;
}

.button-nav .nav-left .nav-icon-start img {
    width: 40px;
    height: 40px;
    margin: 5px;
}

.index-meeting-desc {
    text-align: center;
    color: #e30b69;
    font-size: 20px;
}


/* start */

.cate-nav-box {
    width: 1200px;
    margin: 0 auto 20px auto;
    text-align: center;
}

.cate-nav-item {
    width: 350px;
    height: 100px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    color: #666666;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    position: relative;
    margin: 24px;
}

.cate-nav-item h4 {
    margin: 20px;
}

.cate-nav-item a {
    width: 60px;
    height: 40px;
    background: #e30b69;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 35px;
    font-size: 14px;
}

.cate-nav-item .top-img {
    position: absolute;
    top: -20px;
    left: 150px;
    width: 50px;
    height: 50px;
    z-index: 999;
    border-radius: 50px;
}


/* end */


/* cate-area start */

.cate-area-box {
    width: 1200px;
    margin: 40px auto;
    text-align: center;
    height: 200px;
}

.cate-area-box .cate-area-item {
    height: 100%;
    width: 150px;
    margin: 10px;
}

.cate-area-box .cate-area-item img {
    width: 150px;
    height: 125px;
}

.cate-area-box .cate-area-item .title {
    width: 100%;
    margin-top: 10px;
    background: #ffffff;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px 1px #cccccc;
}


/* cate-area end */


/* supply  area start */

.suppley-first {
    margin: auto;
    font-size: #666666;
}

.suppley-first .supply-title {
    text-align: center;
    font-size: 18px;
}

.supply-box {
    margin: auto;
}

.supply-box .supply-left {
    width: 550px;
    margin: 25px;
    background: #ffffff;
}

.supply-box .supply-left-title img {
    width: 550px;
    height: 70px;
}

.supply-box .supply-right {
    width: 550px;
    margin: 25px;
    background: #ffffff;
}

.supply-box .supply-right-title img {
    width: 550px;
    height: 70px;
}

.supply-box .supply-content-box {
    margin: auto;
}

.supply-box .supply-content-box .supply-content-item {
    margin: auto;
    height: 10px;
    padding-top: 10px;
    height: 120px;
    border-bottom: 1px solid #cccccc;
}

.supply-box .supply-content-box .supply-content-item img {
    width: 100px;
    height: 100px;
    margin: 0px 10px;
}

.supply-content-item-content {
    width: 330px;
}

.supply-box .supply-content-box .supply-content-item .supply-content-item-title {
    display: block;
    color: #333;
    line-height: 24px;
    height: 48px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
}

.supply-box .supply-content-box .supply-content-item .supply-content-item-desc {
    display: block;
    color: #666666;
    line-height: 24px;
    height: 48px;
    overflow: hidden;
    font-size: 14px;
    font-style: normal;
}

.supply-content-item-op {
    width: 70px;
    height: 20px;
    line-height: 20px;
    border-radius: 35px;
    background: #fe6700;
    padding: 5px;
    margin: 10px;
    color: #ffffff;
    text-align: center;
}

.download-second {
    margin: auto;
    font-size: #666666;
}

.download-second .download-title {
    text-align: center;
    font-size: 18px;
}

.download-content {
    background: #ffffff;
    height: 240px;
    padding: 10px;
}

.download-content .download-content-left {
    width: 50%;
    text-align: center;
}

.download-content .download-content-left .download-thumb {
    text-align: center;
}

.download-content .download-content-left .download-thumb img {
    width: 150px;
}

.download-content .download-content-right {
    width: 50%;
    text-align: center;
}

.download-content .download-content-right .download-video {
    width: 500px;
    text-align: center;
    max-height: 240px;
    background: #eeeeee
}

.online-box {
    margin: auto;
}

.online-box .online-title {
    text-align: center;
    font-size: 18px;
}

.online-box .online-content {
    height: 240px;
    margin: 40px 0px;
}

.online-box .online-content .online-content-left img {
    width: 140px;
    height: 240px;
}

.online-box .online-content .online-content-right {
    width: 1060px;
}

.online-box .online-content .online-content-right .online-content-top {
    height: 200px;
}

.online-box .online-content .online-content-right .online-content-top .online-content-top-item {
    width: 200px;
    height: 200px;
    margin: 0px 5px;
}

.online-box .online-content .online-content-right .online-content-top .online-content-top-item img {
    width: 180px;
    height: 180px;
    margin: 0px 10px;
    border-radius: 5px;
}

.online-box .online-content .online-content-right .online-content-top .online-content-top-item .item-title {
    text-align: center;
    width: 180px;
    display: inline-block
}

.online-page-box {
    padding-top: 10px;
    height: 40px;
}

.online-page-box .online-page-item {
    display: block;
    text-align: center;
    background: #eeeeee;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0px 3px;
}

.online-page-box .online-page-item-active {
    background: #d41f48;
    color: #ffffff;
}

.online-page-box .online-page-item-more {
    background: #ffffff;
    color: #cccccc;
}


/* supply  area end */

.shadow1 {}

.shadow1:hover {
    box-shadow: 0px 0px 5px 1px #cccccc;
}


/* common end */

.course-list-item2-img img:hover,
.course-list-item2-img img:focus,
.course-list-item2-img img:active {
    transform: scale(1.2);
    /*transform: translateY(200px) rotateZ(90deg) scale(3);*/
    /*transform: rotate(360deg);*/
    /*相等 transform: scaleX(1.2) scaleY(1.2) scaleZ(1.2);*/
}


/* footer-box */

.footer-box {
    height: 180px;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    left: 0;
    font-size: 12px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    color: #d41f48;
    font-size: 16px;
    font-weight: bold;
}

.footer-box .footer-center {
    width: 600px;
    height: 140px;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    padding: 20px 40px;
}

.footer-box .footer-center .footer-center-left {
    width: 300px;
    height: 140px;
    text-align: left;
}

.footer-box .footer-center .footer-center-left a {
    color: #d41f48;
}

.footer-box .footer-center .footer-center-right {
    width: 300px;
    height: 180px;
    text-align: left;
}

.footer-box .footer-left {
    height: 100%;
    width: 300px;
}

.footer-box .footer-right .footer-righ-title {
    padding: 20px;
}


/* footer-box */


/* footer */


/* footer */


/******右侧固定导航栏 start ************/

.nav-fixed-right {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 9;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #e30b69;
    width: 65px;
    -webkit-box-shadow: 0 4px 10px rgba(24, 44, 97, 0.6);
    box-shadow: 0 4px 10px rgba(24, 44, 97, 0.6);
}

.nav-fixed-right .menu-box {
    position: relative;
    border-bottom: 1px solid #ffffff;
    width: 65px;
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-fixed-right .menu-box .menu {
    width: 65px;
    height: 65px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.nav-fixed-right .menu-box:hover .child {
    background: rgba(0, 0, 0, 0.5);
    width: 250px;
    color: #fff;
    opacity: 1;
}

.nav-fixed-right .menu-box .menu span {
    font-size: 24px;
}

.nav-fixed-right .menu-box .menu p {
    font-size: 12px;
    margin-bottom: 0;
}

.nav-fixed-right .menu-box .child {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    opacity: 0;
    -webkit-transition: all .4s cubic-bezier(.2, .83, .42, .91);
    transition: all .4s cubic-bezier(.2, .83, .42, .91);
}

.nav-fixed-right .menu-box .child .fa {
    font-size: 24px;
    padding-left: 15px;
}

.nav-fixed-right .menu-box .child .right {
    flex: 1;
    margin-left: 15px;
}

.nav-fixed-right .menu-box .child p {
    font-weight: bold;
    font-size: 16px;
}

.nav-fixed-right .menu-box:hover .child-qr {
    background: rgba(0, 0, 0, 0);
    width: 100px;
    color: #fff;
    opacity: 1;
}

.nav-fixed-right .menu-box .child-qr {
    position: absolute;
    top: 0;
    right: 0px;
    width: 0;
    min-height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    opacity: 0;
    -webkit-transition: all .4s cubic-bezier(.2, .83, .42, .91);
    transition: all .4s cubic-bezier(.2, .83, .42, .91);
}

.nav-fixed-right .menu-box .child-qr img {
    width: 100px;
    height: 100px;
}


/******右侧固定导航栏 end ************/


/******返回顶部 start ************/

.back-to-top {
    position: fixed;
    bottom: 50px;
    z-index: 9;
    right: 0;
    display: block;
}

.back-to-top a {
    width: 65px;
    height: 65px;
    background: #e30b69;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: 0 4px 10px rgba(24, 44, 97, 0.6);
    box-shadow: 0 4px 10px rgba(24, 44, 97, 0.6);
}

.back-to-top a span {
    color: #fff;
    font-size: 20px;
}


/******返回顶部 end ************/


/*************************************************************************************/


/****** 登陆页  start ************/

.header-main {
    height: 75px;
    padding: 10px 0px 20px;
    border-bottom: 1px solid #e5e5e5;
    background: #fff;
}

.header-main-top {
    width: 1200px;
    margin: 0px auto;
}

.header-main-top a {
    float: left;
}

.header-main-top span {
    float: left;
    display: block;
    height: 75px;
    line-height: 75px;
    margin-left: 20px;
    color: #333333;
    font-size: 22px;
    font-family: "微软雅黑";
}

.header-main-top em {
    float: right;
    color: #555555;
    font-size: 18px;
    font-weight: bold;
    font-family: "微软雅黑";
    display: block;
    height: 75px;
    line-height: 75px;
}

.header-main-top em i {
    color: #777777;
    font-size: 18px;
    font-weight: normal;
    margin-right: 3px;
    font-style: normal;
}

.main-container {
    width: 100%;
    background: #2380e6 url(../images/login_bg.jpg) center bottom no-repeat;
    min-height: 476px;
    height: 600px;
    background-size: 100% 100%;
}

.main-centerr {
    width: 1200px;
    margin: 0 auto;
}

.mt-px {
    width: 667px;
    height: 475px;
    float: left;
}

.mt-px a {
    display: block;
    width: 667px;
    height: 475px;
}

.login-main {
    float: right;
    margin-top: 40px;
    border: 1px solid #d5d5d5;
    width: 360px;
    background: #ffffff;
    position: relative;
    margin-right: 61px;
}

.login-top-nav {
    border-bottom: 1px solid #eeeeee;
    padding: 16px 0px;
    height: 30px;
    line-height: 30px;
}

.login-top-nav a.on {
    color: #DB1857;
    font-weight: bold;
}

.login-top-nav a {
    position: relative;
}

.login-top-nav a {
    color: #777777;
    font-size: 18px;
    font-family: "微软雅黑";
    float: left;
    text-align: center;
    width: 177px;
}

.login-top-nav span {
    color: #eeeeee;
    font-size: 18px;
    font-family: "微软雅黑";
    float: left;
}


/* .kj-delt {
    position: absolute;
    right: 21px;
    top: -15px;
} */

.login-top-cet {
    position: relative;
}

.Validform-checktip {
    padding-left: 20px;
    white-space: nowrap;
    margin-left: 28px;
    line-height: 20px;
    overflow: hidden;
    color: #999;
    font-size: 12px;
}

.Validform-checktip {
    margin-left: 8px;
    line-height: 20px;
    overflow: hidden;
    color: #999;
    font-size: 12px;
}

.login-top-cet dl {
    padding: 10px 33px 3px;
}

.login-top-cet dl dd.utr-p1 {
    width: 292px;
    height: 36px;
    margin-bottom: 15px;
    position: relative;
}

.login-top-cet dl dd {
    height: 36px;
    line-height: 36px;
    padding: 0;
    margin: 0;
}

.login-top-cet dl dd.utr-p1 span {
    background: url(../images/wtr_p1.jpg) 10px 8px no-repeat;
    width: 38px;
    height: 36px;
    position: absolute;
    left: 0px;
    top: 1px;
    display: block;
}

.tex-txt1 {
    border: 0px;
    height: 36px;
    line-height: 36px;
    color: #bbbbbb;
    font-size: 14px;
    border: 0px;
    width: 254px;
    border: 1px solid #cccccc;
    padding-left: 38px;
}

.login-top-cet dl dd.utr-p2 {
    width: 292px;
    height: 36px;
    position: relative;
    margin-bottom: 15px;
}

.login-top-cet dl dd.utr-p2 span {
    background: url(../images/wtr_p1.jpg) 10px -45px no-repeat;
    width: 38px;
    height: 36px;
    float: left;
    display: block;
    position: absolute;
    left: 0px;
    top: 1px;
    *top: 2px;
}

.tex-txt1,
.tex-txt2,
.tex-txt3 {
    outline: none;
}

.tex-txt2 {
    height: 36px;
    line-height: 36px;
    color: #bbbbbb;
    font-size: 14px;
    border: 0px;
    width: 149px;
    float: left;
    border: 1px solid #cccccc;
    padding-left: 12px;
    float: left;
}

.lgin-txt-y {
    float: right;
    width: 119px;
    height: 38px;
}

.lgin-txt-y img {
    width: 110px;
    height: 37px;
}

.gin-ma-p3 {
    width: 294px;
    margin: 0px auto;
}

.gin-ma-p3 ul li {
    width: 294px;
    line-height: 42px;
    display: inline-block;
}

.gin-ma-p3 ul li label {
    float: left;
    color: #999;
    font-size: 13px;
}

.vvh-pd {
    margin-right: 3px;
    float: left;
    margin-top: 14px;
    *margin-top: 10px;
}

.gin-ma-p3 ul li a {
    float: right;
    color: #555;
    font-size: 13px;
}

.login-btn {
    background: #e30b69;
    width: 294px;
    height: 42px;
    border: 0px;
    cursor: pointer !important;
    color: #fff;
    font-size: 16px;
}

.login-top-nav-p {
    /* display: none; */
    border-bottom: 1px solid #eeeeee;
    padding: 16px 0px;
    height: 30px;
    line-height: 30px;
    position: relative;
}

.login-top-nav-p a {
    position: absolute;
    left: 20px;
    top: 20px;
}

.login-top-nav-p a img {
    height: 19px;
}

.login-top-nav-p span {
    color: #DB1857;
    font-size: 18px;
    font-family: "微软雅黑";
    text-align: center;
    font-weight: bold;
    display: block;
    width: 100%;
}

.ght-p2 {
    display: none;
}

.gin-ma-p4 {
    margin-top: 30px;
    border-top: 1px solid #eeeeee;
    padding: 18px 33px;
    height: 22px;
    line-height: 22px;
}

.gin-ma-p4 i {
    float: right;
    font-size: 15px;
}

.gin-ma-p4 i a {
    color: #DB1857;
    font-style: normal;
    background: url(../images/qwe_plk.jpg) left center no-repeat;
    padding-left: 20px;
}

.utr-p4 {
    width: 170px;
    height: 36px;
    border: 1px solid #cccccc;
    margin-bottom: 15px;
    float: left;
}

.utr-p4 span {
    background: url(../images/wtr_p1.jpg) 10px -100px no-repeat;
    width: 38px;
    height: 36px;
    float: left;
    display: block;
}

.tex-txt3 {
    width: 120px;
    height: 34px;
    line-height: 36px;
    border: 0px;
    float: left;
    color: #bbbbbb;
    font-size: 14px;
}

.yzm-pl-l {
    width: 120px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #cccccc;
    color: #333;
    font-size: 14px;
    display: block;
    float: right;
    border: 1px solid #cccccc;
}

.login-footer {
    border-top: 1px solid #e5e5e5;
    color: #959697;
    overflow: hidden;
    padding: 20px 0px;
    text-align: center;
    line-height: 25px;
    width: 1200px;
    margin: 40px auto 0px;
}

.login-footer p {
    color: #7c7c7d;
}

.login-footer p.about a {
    color: #959697;
    margin: 0 5px;
}

.login-footer em {
    margin: 0px 10px;
    display: inline-block;
}


/******登陆页 end ************/


/*************************************************************************************/


/*************************************************************************************/


/******注册页 start ************/

.main-register-m-left {
    width: 530px;
    float: right;
    height: 600px;
    background: #ffffff;
}

.main-register-m-left dl dd {
    display: inline-block;
    width: 566px;
    margin-bottom: 15px;
    line-height: 34px;
}

.main-register-m-left dl dd span {
    display: block;
    width: 80px;
    text-align: right;
    float: left;
    color: #555;
    font-size: 14px;
}

.name-text {
    float: left;
    margin-left: 5px;
    height: 36px;
    width: 292px;
    padding-left: 5px;
    border: 1px solid #ccc;
    color: #cccccc;
    font-size: 14px;
    line-height: 36px;
    background: #fff;
}

.name-text-out {
    width: 160px;
    margin-right: 13px;
}

.name-text1 {
    float: left;
    margin-left: 5px;
    height: 36px;
    width: 162px;
    padding-left: 5px;
    border: 1px solid #ccc;
    color: #bdbdbd;
    font-size: 14px;
    line-height: 36px;
    margin-right: 10px;
}

.name-text3 {
    float: left;
    height: 42px;
    width: 294px;
    border: 0px;
    color: #fff;
    font-size: 16px;
    background: #e30b69;
    cursor: pointer !important;
    font-family: "微软雅黑";
    font-weight: bold;
}


/******注册页 end ************/


/*************************************************************************************/


/*************************************************************************************/


/******找回密码页 start ************/

.main-register-m {
    background: #f8f9fa;
}

.forget-main-top {
    width: 888px;
    height: 260px;
    margin: 50px auto;
    border: 1px solid #e5e5e5;
    background: #fff;
    padding: 40px 55px 85px;
    overflow: hidden;
}

.forget-main-top dl dd {
    display: inline-block;
    width: 600px;
    margin-bottom: 15px;
    line-height: 34px;
}

.forget-main-top dl dd span {
    display: block;
    text-align: right;
    float: left;
    color: #555;
    font-size: 14px;
}


/******找回密码页 end ************/


/*************************************************************************************/


/*************************************************************************************/


/******展商页 start ************/

.supplier-bg-center {
    text-align: center;
}

.supplier-bg img {
    margin: 0 auto;
}

.supplier-bg {
    background: #ffffff;
}

.supplier-top {
    width: 100%;
    height: auto;
    padding: 20px 0px;
}

.supplier-top .supplier-top-left {
    text-align: center;
    height: 100%;
    width: 300px;
    height: 200px;
    text-align: left;
}

.supplier-top .supplier-top-left img {
    text-align: center;
    width: 300px;
    height: 100%;
}

.supplier-top .supplier-top-right {
    text-align: left;
    width: 860px;
    height: auto;
    padding: 0px 20px;
}

.m-10 {
    margin: 10px;
}

.supplier-top-right-desc {
    margin: 5px 0px;
    font-weight: bold;
}

.supplier-top-right-btn-box {
    text-align: center;
}

.supplier-top-right-btn {
    height: 20px;
    width: 200px;
    text-align: center;
    font-size: 16px;
    background: #e30b69;
    color: #ffffff;
    padding: 10px;
    border-radius: 40px;
    display: inline-block;
    margin: 20px;
}

.supplier-message-title {
    border-bottom: 2px solid #e30b69;
}

.supplier-message-title h2 {
    margin: 10px 0px;
}

.supplier-message-content {
    padding: 20px 0px;
}

.supplier-message-item {
    width: 380px;
    background: #eeeeee;
    height: 80px;
    margin: 0px 20px 20px 0px;
}

.supplier-message-item-left {
    width: 80px;
    height: 80px;
    background: #e30b69;
}

.supplier-message-item-left img {
    width: 40px;
    height: 40px;
    margin: 20px;
}

.supplier-message-item-right {
    width: 280px;
    padding: 0px 10px;
}

.supplier-message-item-right-title {
    margin: 5px 0px;
    color: #888888;
}

.supplier-introduce {
    height: 400px;
    width: 100%;
}

.supplier-introduce-left {
    width: 50%;
    height: 100%;
}

.supplier-introduce-right {
    width: 50%;
    height: 100%;
    text-align: center;
}

.supplier-introduce-video {
    width: 500px;
    height: auto;
}

.supplier-product-box {
    width: 100%;
}

.supplier-product-box .supplier-product-title {
    border-bottom: 2px solid #e30b69;
}

.supplier-product-title h2 {
    margin: 10px 0px;
}

.supplier-product-content {
    width: 100%;
}

.supplier-product-content .supplier-product-item {
    width: 358px;
    text-align: left;
    margin: 20px;
    border: 1px solid #eeeeee;
}

.supplier-product-content .supplier-product-item img {
    width: 100%;
    margin: auto;
}

.supplier-product-content .supplier-product-item img {
    width: 100%;
    margin: auto;
}

.supplier-product-content .supplier-product-item .supplier-product-item-content {
    padding: 10px 20px;
}

.supplier-product-content .supplier-product-item .supplier-product-item-link {
    margin: auto;
    text-align: center;
    height: 50px;
}

.supplier-product-content .supplier-product-item .supplier-product-item-link a {
    height: 20px;
    width: 50px;
    border-radius: 40px;
    background: #e30b69;
    color: #ffffff;
    padding: 10px;
}


/******展商页 end ************/


/*************************************************************************************/


/*************************************************************************************/


/****** 供需平台 start ************/

.information-top-op-box {
    height: 90px;
    line-height: 90px;
    float: right;
    width: 400px;
}

.information-top-op-box a {
    height: 10px;
    border: 1px solid #e30b69;
    padding: 5px 10px;
    margin: 0px 10px;
    border-radius: 40px;
    background: #f5f5f5;
}

.information-top-img-box {
    width: 100%;
    text-align: center;
}

.information-top-img-box img {
    margin: 0px auto;
}

.information-tabs-box {
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.information-tabs-box .information-tab {
    height: 100%;
    background: #e2e2e2;
    width: 50%;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.information-tabs-box a.information-tab-active {
    background: #e30b69;
    color: #ffffff;
}

.information-category-box {
    margin: 20px 0px;
    height: 50px;
    border-bottom: 1px solid #e0e0e0;
}

.information-category-box .information-category-item {
    margin: 0px 5px;
    font-size: 14px;
}

.information-content-box {}

.information-content-box .information-content-item {
    margin: 10px 0px;
    height: 100px;
    clear: both;
}

.information-content-box .information-content-item img {
    width: 100px;
    height: 100px;
}

.information-content-box .information-content-item-center {
    width: 980px;
    padding: 0px 10px;
    height: 100px;
}

.information-content-box .information-content-item-right {
    width: 100px;
    height: 100px;
    text-align: center;
}

.information-content-box .information-content-item-right a {
    background: #e30b69;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    color: #ffffff;
    display: block;
    height: 30px;
    line-height: 30px;
    margin-top: 35px;
}

.information-content-item-center h3 {
    color: #e30b69;
}

.information-content-item-center h3 {
    color: #e30b69;
}

.information-content-item-center .information-content-item-center-time {
    color: #888888;
    font-size: 12px;
}


/****** 供需平台 end ************/


/*************************************************************************************/